<h3><%= @shelter.name %></h3>

<h5><%= @shelter.name %>'s Information:</h5>
<p>Address: <%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>zip: <%= @shelter.zip %></p>
